# Question 1
## Superstore Sales Dataset (Tableau Public)

Source: [Tableau Superstore Sample Data](https://public.tableau.com/app/sample-data/sample_-_superstore.xls)

Tasks

- Is the average profit per order greater than $50?

- Is there a difference in average sales between East and West regions?

- Do product categories differ significantly in their mean discount rates?

- Is shipping mode independent of region?

- Does a 10% discount lead to more sales than no discount?

Formulate and test a Hypothesis for the above questions

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("sample superstore.xls")
df.columns

In [ ]:
def Hypothesis_test(h0, h1, p_value, alpha = 0.05):
    if p_value >= alpha:
        print(f"Fail to reject h0 -> {h0}")
    elif p_value < alpha:
        print(f"Reject h0 -> {h1}")

In [ ]:
from scipy.stats import ttest_1samp
population_mean = df["Profit"].mean()
population_mean

np.float64(28.656896307784663)

In [ ]:
sample = df["Profit"].sample(n=100)
sample.mean()

np.float64(31.035401999999994)

In [ ]:
# right tailed test
t_stat, p_value = ttest_1samp(sample,popmean=50,alternative="greater")
print(f"t_stat{t_stat:.2f}, p_value{p_value:.4f}")

t_stat-1.45, p_value0.9255

In [ ]:
h1 = "The average profit per order > 50 dollars"
h0 = "The average profit <= 50 dollars"
print(f"sample mean = {sample.mean()} ,population mean = {population_mean}",)
print(f't_stat = {t_stat} , p_val_right = {p_value}')
Hypothesis_test(h0, h1, p_value)

sample mean = 31.035401999999994 ,population mean = 28.656896307784663
t_stat = -1.4544026435639468 , p_val_right = 0.9255010572601279
Fail to reject h0 -> The average profit <= 50 dollars

In [ ]:
# Is there a difference in average sales between East and West regions?
from scipy.stats import ttest_ind

E = df.loc[df['Region'] == 'East', "Sales"]
w = df.loc[df['Region'] == 'West', 'Sales']

t_stat, p_value = ttest_ind(E, w)
print(f"t-statistic = {t_stat:.4f}, p-value = {p_value:.4f}")

t-statistic = 0.8039, p-value = 0.4215

In [ ]:
h0 ="The East average sales = The west average sales"
h1 = "The East average sales != The west average sales"
print(f"t_stat{t_stat}, p_value{p_value}")
Hypothesis_test(h0, h1, p_value)

t_stat0.8039081716157493, p_value0.4214816006231621
Fail to reject h0 -> The East average sales = The west average sales

In [ ]:
# Do product categories differ significantly in their mean discount rates?
# f_stat, p_value = f_oneway(groups['Furniture'], groups['Office Supplies'], groups['Technology'])
from scipy.stats import f_oneway

f_stat, p_value = f_oneway(*groups) # * unpacks the list of groups/tuples
print(f"F-statistic: {f_stat:.3f}")
print(f"P-value: {p_value:.3f}")

alpha = 0.05
if p_value < alpha:
    print("Reject H₀: At least one category has a significantly different average discount.")
else:
    print("Fail to reject H₀: No significant difference in average discounts among categories.")
from scipy.stats import f_oneway
# grouping = df.groupby ("a categorical column")aggregate(numerical column)

groups = df.groupby('Category')['Discount'].apply(list)

NameError: name 'groups' is not defined

In [ ]:
from scipy.stats import chi2_contingency

# Create contingency table
contingency = pd.crosstab(df['Ship Mode'], df['Region'])

chi2, p_value, dof, expected = chi2_contingency(contingency)

print(f"Chi2 Statistic: {chi2:.3f}, P-value: {p_value:.4f}")

if p_value < 0.05:
    print("Reject H₀: Shipping mode depends on region.")
else:
    print("Fail to reject H₀: Shipping mode is independent of region.")

Chi2 Statistic: 23.846, P-value: 0.0046
Reject H₀: Shipping mode depends on region.

In [ ]:
# your work here (feel  free to add both code and markdown cells)

# Question 2

## Titanic Dataset (Kaggle)

**Source:** [Kaggle Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic/data)

### **Tasks**

* Is the average passenger age different from 30 years?
* Did males and females pay different average fares?
* Do passengers in different travel classes (1st, 2nd, 3rd) differ in their mean age?
* Is survival independent of passenger class?
* Is survival rate different across embarkation ports (C, Q, S)?
* Is survival dependent on gender?

**Formulate and test a hypothesis for each of the above questions.**

In [ ]:
from scipy.stats import ttest_1samp
import pandas as pd

In [ ]:
data = pd.read_csv("train.csv")
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
data.dropna(inplace=True)

In [ ]:
h1 = "age != 30"
h0 = "age = 30"
sample = data['Age'].sample(n=100)
sample.mean()

np.float64(36.265)

In [ ]:
t_stat, p_value = ttest_1samp(sample, popmean=30)
print(f"t_stat {t_stat:.3f}, P_value {p_value:3f}")

t_stat 3.962, P_value 0.000140

In [ ]:
print(f"T_test {t_stat:.3f}, P_value {p_value:3f}")
Hypothesis_test(h0, h1, p_value)

T_test 3.962, P_value 0.000140

NameError: name 'Hypothesis_test' is not defined

In [ ]:
data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
sample.describe()
print(sample.dtype)
print(sample.isna().sum())
print(len(sample))

float64
0
100

In [ ]:
# Did males and females pay different average fares?
from scipy.stats import ttest_ind

Males = data.loc[data['Sex'] == "male", "Fare"]
Females = data.loc[data['Sex'] == "female", "Fare"]
h1 = "males average fares != female average fares"
h0 = "males average fares = female average fares"

In [ ]:
t_stat, p_value = ttest_ind(Males, Females)
print(f"male_averages {Males.mean()}, Female_average {Females.mean()}")
print(f"T_test {t_stat:.3f}, P_value {p_value: .4f}")
Hypothesis_test(h0, h1, p_value)

male_averages 69.12434315789473, Female_average 89.0009
T_test -1.770, P_value  0.0784
Fail to reject h0 -> males average fares = female average fares

In [ ]:
alpha=0.005
if p_value<alpha:
    print('reject H0:passengers do not differ in mean age')
else:
    print('Fail to reject H0: passangers in different classes differ in mean age')

In [ ]:
# Do passengers in different travel classes (1st, 2nd, 3rd) differ in their mean age?
from scipy.stats import f_oneway
t_class = data.groupby('Pclass')['Age'].apply(list)
f_stat, p_value = f_oneway(*t_class)
print(f"F_stat{f_stat :2f}, P_value{p_value:.3f}")
h1 = "Atleast one travel class differ in the mean age"
h0= "The travel class do not differ in the mean age"
Hypothesis_test(h0, h1, p_value)

F_stat9.762704, P_value0.000
Reject h0 -> Atleast one travel class differ in the mean age

In [ ]:
# your work here (feel  free to add both code and markdown cells)